<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @purchase.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase.item_id_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
