<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @item.slug %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @item.visible %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @item.published_at %>
</p>

<p>
  <strong>Obersarvations:</strong>
  <%= @item.obersarvations %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
